<!-- Portfolio Section -->
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Levels</h2>
    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Portfolio Grid Items -->
    <div class="row">
      <!-- Portfolio Item  -->
      <% @levels.each do |level| %>

      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <%= link_to level do %>
            <div class="portfolio-item-caption-content text-center text-white">
              Access Quiz
            </div>
            <% end %>
          </div>
          <%= image_tag level.cover_url, class: 'img-fluid'%>
          <h3><%= level.title %></h3>
          <%= level.description.html_safe %>
        </div>
      </div>
      <% end %>
    </div>
    <!-- /.row -->
  </div>
</section>
