<div class="container-level">
  <div class="col-md-12 col-lg-12">
    <div class="portfolio-item mx-auto">
      <center>
      <%= image_tag @level.cover_url, class: 'img-fluid'%>
      </center>
      <h3><%= @level.title %></h3>
      <%= @level.description.html_safe %>
      <%= link_to 'Start Quiz', level_quizzes_path(@level), class: 'btn btn-lg btn-primary btn-block' %>
    </div>
  </div>
</div>
